@import './styles/reset.css';
@import './styles/theme.css';
@import './styles/navbar.css';
@import './styles/header.css';
@import './styles/benefits.css';
@import './styles/courses.css';
@import './styles/quad.css';
@import './styles/footer.css';
@import './styles/burgerMenu.css';

body {
  font-family: var(--font-family-jost-);
}

main {
  margin-top: 104px;
}
@media (min-width: 768px) {
  main {
    margin-top: calc(104px + 5%);
  }
}
@media (min-width: 1090px) {
  main {
    margin-top: 104px;
  }
}
.hidden {
  display:none;
}