.hero {
  position: relative;
  width:100%;
  height:70vh;
  display:flex;
  justify-content:center;
  align-items:center;
}
.hero :before{
  content: "";
  position: absolute;
  top: 0; left:0;
  width:100%;
  height:100%;
  background: url('../assets/icon/Tracé\ 68105.svg');
  background-size: 12% ;
  background-repeat: no-repeat;
  background-position: 8% 40%;
  background-color: var(--yellow);
  z-index:-10;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:0 2em;
}
.hero__action {
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-30);
  line-height: var(--line-spacing-40);
  color: var(--black);
}

.hero__action :before{
  z-index:99;
  position: absolute;
  left:0;
  bottom:0;
  content: "";
  background-color:red;
  height:100%;
  width:50px;
}
@media (min-width: 1920px) {
  .hero__action {
    font-size: var(--font-size-70);
    line-height: var(--line-spacing-85);
    letter-spacing: var(--character-spacing-0);
  }
}
.hero__content > div {
  width:50%;
}
.hero__left p {
  margin-left: 4em;
  font-family: var(--font-family-jost-);
  font-style: var(--font-style-normal);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-18);
  line-height: var(--line-spacing-24);
  letter-spacing: var(--character-spacing-0);
  color: var(--black);
}
.hero__left > h1{
  margin-top:5%;
}
.hero__left > button  {
  margin-top:10%;
}
.hero__img {
  display: none;
}

@keyframes slideInBtn {
  0% {
    opacity: 0;
    left:100%;
  }
  100% {
    opacity: 1;
    left:0;
  }
}

@media (min-width: 768px) {
  .hero {
    height:80vh;
  }
  .hero__content {
    flex-direction: row;
    padding:0 5em;
  }
  .hero__action {
    font-size: var(--font-size-50);
  line-height: var(--line-spacing-50);

  }
  .hero__img {
    display: block;
    margin-left:5%;
  }
}

@media (min-width: 1920px) {
  .hero {
    height:60vh;
  }
}
::before,
::after {
  position: absolute;
  content: "";
}
.btn, .btnBis {
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
  .btn span, .btnBis span {   
    position: relative;
    display: inline-block;
    font-size: 14px;
    border-radius:10px;
    font-weight: bold;
    text-transform: uppercase;
    top: 0; left: 0;
    width: 100%;
    padding: 1em 1em;
    transition: 0.3s;
  }

/*--- btn-anim ---*/

.btn-1::before, .btn-2::before {
  z-index:5;
  background:none;
  border-radius:10px;
  background-color: black;
  transition: 0.3s ease-out;
}
.btn-1 span , .btn-2 span{
  z-index:5;
  color: rgb(255,255,255);
  border: 1px solid black;
  transition: 0.2s 0.1s;
}
.btn-1 span:before , .btn-2 span:before {
  background: none;
}
.btn-1 span:hover, .btn-2 span:hover {
  color: black;
  transition: 0.2s 0.1s;
}

.btnBis {
  background-color: black;
  border-radius:10px;
}

.btn-2::before {
  border-radius:10px;
  background-color: white;
}
.btn-2 span {
  color: black;
}
.btn-2 span:hover {
  color: white;
}

.btn.hover-filled-slide-left::before, .btnBis.hover-filled-slide-left::before{
  top: 0; bottom: 0; left: 0;
  height: 100%; width: 100%;
}
.btn.hover-filled-slide-left:hover::before, .btnBis.hover-filled-slide-left:hover::before  {
  width: 0%;
}