@import './theme.css';

@keyframes animateSlide {
  from {right:-100%; opacity:0}
  to {right:0; opacity:1}
}

@keyframes animateSlideOut {
  from {right:-0; opacity:1}
  to {right:-100%; opacity:0}
}
.modal {
  z-index:10;
  position:fixed; 
  top: 0;
  right:0;
  animation-duration:0.4s;
  animation-name: animateSlide;
  display:flex;
  align-items:center;
  justify-content:center;
  height:20vh;
  margin-top:104px;
  width:100%;
  color: black;
  background-color: white;;
}
.modal.animateOut {
  animation: duration 0.4s;
  animation-name: animateSlideOut;
}
.modal__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20%;
}

.modal__content > ul > li {
  display:list-item;
}

@media (min-width: 768px) {
  .modal {
    display:none;
  }
}