.nav__menu--mobile {
  display:block;
}

.nav {
  position: fixed;
  left: 0;
  top:0;
  right: 0;
  z-index:10;
  height: calc(104px + 5%);
  background-color: #fff;
  display:flex;
  align-items: center;
  justify-content: center;
}

.nav__logo {
  display: flex;
}

.nav__list {
  margin-left: 2em;
  display:flex;
  align-items: center;
}
.nav__list > li:not(:first-child), .nav__menuRight > li:not(:first-child) {
  margin-left:1em;
}
.nav__container {
  display:none;
}

@media (min-width: 768px) {
  .nav__menu--mobile {
    display:none;
  }
  .nav__container {
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
}
.nav__menuRight {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__menuItem {
  padding: 0 1em;
  border-right: 1px solid var(--light-grey-4);
  border-left: 1px solid var(--light-grey-4);
}
@media (min-width: 1090px) {
  .nav {
    height: 104px;
  }
  .nav__menuRight {
    display: flex;
    align-items: center;
  }
  .nav__menuRight > li:not(:first-child) {
    margin-left:1em;
  }
  .nav__container {
    flex-direction: row;
  }
}
@media (min-width: 1440px) {
  .nav__list > li:not(:first-child) {
    margin-left:2em;
  }
  .nav__list {
    margin-left:4em;
  }
}
.menu__btn, .btn-primary{
  display: flex;
  align-items: center;
  font-family: Jost, semi;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 1em 1em;
  background-color: var(--yellow);
  cursor: pointer;
  transition: all 0.3s ease;
}
.menu__btn:hover {
  color: var(--white);
}